In [1]:
print('Hello World')

Hello World

In [2]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.5)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC07\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [3]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib) (4.55.5)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC07\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC07\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [5]:
pip install numpy

Requirement already satisfied: numpy in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC07\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [148]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [78]:
birds = pd.read_csv('datasets\\penguins.csv')

In [79]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [80]:
birds['body_mass_g']

0      3750.0
1      3800.0
2      3250.0
3         NaN
4      3450.0
        ...
339    4000.0
340    3400.0
341    3775.0
342    4100.0
343    3775.0
Name: body_mass_g, Length: 344, dtype: float64

In [81]:
birds['weight'] = np.round(birds['body_mass_g'] / 1000, 1)

In [82]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

<h1> WHAT TO DO WITH NULL VALUES <h1\>
delete the row 
fill the empty cellls with valuie

In [83]:
birds['body_mass_g'].mean()

np.float64(4201.754385964912)

In [84]:
birds['sex'].mode()

0    male
Name: sex, dtype: object

In [85]:
birds['bill_length_mm'] = birds['bill_length_mm'].fillna(birds['bill_length_mm'])

In [86]:
birds.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
weight                2
dtype: int64

In [87]:
birds['bill_length_mm'] = birds['bill_length_mm'].fillna(birds['bill_length_mm'].mean())

In [88]:
birds.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
weight                2
dtype: int64

In [89]:
birds['sex'] = birds['sex'].fillna(birds['sex'].mode()[0])

In [90]:
birds.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
year                 0
weight               2
dtype: int64

In [91]:
birds['flipper_length_mm'] = birds['flipper_length_mm'].fillna(birds['flipper_length_mm'])

In [92]:
birds.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
year                 0
weight               2
dtype: int64

In [93]:
birds['year'] = birds['year'].astype('category')

In [94]:
birds['rowid'] = birds['rowid'].astype('category')

In [95]:
birds['species'] = birds['species'].astype('category')

In [96]:
birds['island'] = birds['island'].astype('category')

In [97]:
birds['island'] = birds['island'].astype('category')

In [98]:
birds['sex'] = birds['sex'].astype('category')

In [99]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    category
 1   species            344 non-null    category
 2   island             344 non-null    category
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                344 non-null    category
 8   year               344 non-null    category
 9   weight             342 non-null    float64
dtypes: category(5), float64(5)
memory usage: 26.9 KB

In [100]:
birds.head(25)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.10000,18.7,181.0,3750.0,male,2007,3.8
1,2,Adelie,Torgersen,39.50000,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.30000,18.0,195.0,3250.0,female,2007,3.2
3,4,Adelie,Torgersen,43.92193,NaN,NaN,NaN,male,2007,NaN
4,5,Adelie,Torgersen,36.70000,19.3,193.0,3450.0,female,2007,3.4
5,6,Adelie,Torgersen,39.30000,20.6,190.0,3650.0,male,2007,3.6
6,7,Adelie,Torgersen,38.90000,17.8,181.0,3625.0,female,2007,3.6
7,8,Adelie,Torgersen,39.20000,19.6,195.0,4675.0,male,2007,4.7
8,9,Adelie,Torgersen,34.10000,18.1,193.0,3475.0,male,2007,3.5
9,10,Adelie,Torgersen,42.00000,20.2,190.0,4250.0,male,2007,4.2
10,11,Adelie,Torgersen,37.80000,17.1,186.0,3300.0,male,2007,3.3
11,12,Adelie,Torgersen,37.80000,17.3,180.0,3700.0,male,2007,3.7
12,13,Adelie,Torgersen,41.10000,17.6,182.0,3200.0,female,2007,3.2
13,14,Adelie,Torgersen,38.60000,21.2,191.0,3800.0,male,2007,3.8
14,15,Adelie,Torgersen,34.60000,21.1,198.0,4400.0,male,2007,4.4
15,16,Adelie,Torgersen,36.60000,17.8,185.0,3700.0,female,2007,3.7
16,17,Adelie,Torgersen,38.70000,19.0,195.0,3450.0,female,2007,3.4
17,18,Adelie,Torgersen,42.50000,20.7,197.0,4500.0,male,2007,4.5
18,19,Adelie,Torgersen,34.40000,18.4,184.0,3325.0,female,2007,3.3
19,20,Adelie,Torgersen,46.00000,21.5,194.0,4200.0,male,2007,4.2
20,21,Adelie,Biscoe,37.80000,18.3,174.0,3400.0,female,2007,3.4
21,22,Adelie,Biscoe,37.70000,18.7,180.0,3600.0,male,2007,3.6
22,23,Adelie,Biscoe,35.90000,19.2,189.0,3800.0,female,2007,3.8
23,24,Adelie,Biscoe,38.20000,18.1,185.0,3950.0,male,2007,4.0
24,25,Adelie,Biscoe,38.80000,17.2,180.0,3800.0,male,2007,3.8

<h1>DOES GENTOO EXCLUSIVELY LIVED IN JUST ONE ISLAND</h1>

In [101]:
birds['species'] == 'Gentoo'

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [102]:
birds[birds['species'] == 'Gentoo']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
152,153,Gentoo,Biscoe,46.10000,13.2,211.0,4500.0,female,2007,4.5
153,154,Gentoo,Biscoe,50.00000,16.3,230.0,5700.0,male,2007,5.7
154,155,Gentoo,Biscoe,48.70000,14.1,210.0,4450.0,female,2007,4.4
155,156,Gentoo,Biscoe,50.00000,15.2,218.0,5700.0,male,2007,5.7
156,157,Gentoo,Biscoe,47.60000,14.5,215.0,5400.0,male,2007,5.4
...,...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,43.92193,NaN,NaN,NaN,male,2009,NaN
272,273,Gentoo,Biscoe,46.80000,14.3,215.0,4850.0,female,2009,4.8
273,274,Gentoo,Biscoe,50.40000,15.7,222.0,5750.0,male,2009,5.8
274,275,Gentoo,Biscoe,45.20000,14.8,212.0,5200.0,female,2009,5.2
275,276,Gentoo,Biscoe,49.90000,16.1,213.0,5400.0,male,2009,5.4

In [103]:
birds['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: category
Categories (3, object): ['Biscoe', 'Dream', 'Torgersen']

In [104]:
birds['island'] == "Biscoe"

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: island, Length: 344, dtype: bool

<h1>INSIGHT NO.1 </h1>

In [105]:
gentoo_biscoe = birds[(birds['species'] == 'Gentoo') & (birds['island'] == 'Biscoe')]

In [106]:
gentoo_dream = birds[(birds['species'] == 'Gentoo') & (birds['island'] == 'Dream')]

In [107]:
gentoo_torg = birds[(birds['species'] == 'Gentoo') & (birds['island'] == 'Torgersen')]

In [108]:
gentoo_biscoe

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
152,153,Gentoo,Biscoe,46.10000,13.2,211.0,4500.0,female,2007,4.5
153,154,Gentoo,Biscoe,50.00000,16.3,230.0,5700.0,male,2007,5.7
154,155,Gentoo,Biscoe,48.70000,14.1,210.0,4450.0,female,2007,4.4
155,156,Gentoo,Biscoe,50.00000,15.2,218.0,5700.0,male,2007,5.7
156,157,Gentoo,Biscoe,47.60000,14.5,215.0,5400.0,male,2007,5.4
...,...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,43.92193,NaN,NaN,NaN,male,2009,NaN
272,273,Gentoo,Biscoe,46.80000,14.3,215.0,4850.0,female,2009,4.8
273,274,Gentoo,Biscoe,50.40000,15.7,222.0,5750.0,male,2009,5.8
274,275,Gentoo,Biscoe,45.20000,14.8,212.0,5200.0,female,2009,5.2
275,276,Gentoo,Biscoe,49.90000,16.1,213.0,5400.0,male,2009,5.4

<h2>Gentoo Live exclusively in Biscoe</h2>

<h1>INSIGHT NO.2</h1>

In [109]:
adelie_biscoe = birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Biscoe')]

In [110]:
adelie_dream = birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Dream')]

In [111]:
adelie_torg = birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Torgersen')]

In [112]:
adelie_biscoe

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
20,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007,3.4
21,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male,2007,3.6
22,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007,3.8
23,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male,2007,4.0
24,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male,2007,3.8
25,26,Adelie,Biscoe,35.3,18.9,187.0,3800.0,female,2007,3.8
26,27,Adelie,Biscoe,40.6,18.6,183.0,3550.0,male,2007,3.6
27,28,Adelie,Biscoe,40.5,17.9,187.0,3200.0,female,2007,3.2
28,29,Adelie,Biscoe,37.9,18.6,172.0,3150.0,female,2007,3.2
29,30,Adelie,Biscoe,40.5,18.9,180.0,3950.0,male,2007,4.0
50,51,Adelie,Biscoe,39.6,17.7,186.0,3500.0,female,2008,3.5
51,52,Adelie,Biscoe,40.1,18.9,188.0,4300.0,male,2008,4.3
52,53,Adelie,Biscoe,35.0,17.9,190.0,3450.0,female,2008,3.4
53,54,Adelie,Biscoe,42.0,19.5,200.0,4050.0,male,2008,4.0
54,55,Adelie,Biscoe,34.5,18.1,187.0,2900.0,female,2008,2.9
55,56,Adelie,Biscoe,41.4,18.6,191.0,3700.0,male,2008,3.7
56,57,Adelie,Biscoe,39.0,17.5,186.0,3550.0,female,2008,3.6
57,58,Adelie,Biscoe,40.6,18.8,193.0,3800.0,male,2008,3.8
58,59,Adelie,Biscoe,36.5,16.6,181.0,2850.0,female,2008,2.8
59,60,Adelie,Biscoe,37.6,19.1,194.0,3750.0,male,2008,3.8
60,61,Adelie,Biscoe,35.7,16.9,185.0,3150.0,female,2008,3.2
61,62,Adelie,Biscoe,41.3,21.1,195.0,4400.0,male,2008,4.4
62,63,Adelie,Biscoe,37.6,17.0,185.0,3600.0,female,2008,3.6
63,64,Adelie,Biscoe,41.1,18.2,192.0,4050.0,male,2008,4.0
64,65,Adelie,Biscoe,36.4,17.1,184.0,2850.0,female,2008,2.8
65,66,Adelie,Biscoe,41.6,18.0,192.0,3950.0,male,2008,4.0
66,67,Adelie,Biscoe,35.5,16.2,195.0,3350.0,female,2008,3.4
67,68,Adelie,Biscoe,41.1,19.1,188.0,4100.0,male,2008,4.1
100,101,Adelie,Biscoe,35.0,17.9,192.0,3725.0,female,2009,3.7
101,102,Adelie,Biscoe,41.0,20.0,203.0,4725.0,male,2009,4.7
102,103,Adelie,Biscoe,37.7,16.0,183.0,3075.0,female,2009,3.1
103,104,Adelie,Biscoe,37.8,20.0,190.0,4250.0,male,2009,4.2
104,105,Adelie,Biscoe,37.9,18.6,193.0,2925.0,female,2009,2.9
105,106,Adelie,Biscoe,39.7,18.9,184.0,3550.0,male,2009,3.6
106,107,Adelie,Biscoe,38.6,17.2,199.0,3750.0,female,2009,3.8
107,108,Adelie,Biscoe,38.2,20.0,190.0,3900.0,male,2009,3.9
108,109,Adelie,Biscoe,38.1,17.0,181.0,3175.0,female,2009,3.2
109,110,Adelie,Biscoe,43.2,19.0,197.0,4775.0,male,2009,4.8
110,111,Adelie,Biscoe,38.1,16.5,198.0,3825.0,female,2009,3.8
111,112,Adelie,Biscoe,45.6,20.3,191.0,4600.0,male,2009,4.6
112,113,Adelie,Biscoe,39.7,17.7,193.0,3200.0,female,2009,3.2
113,114,Adelie,Biscoe,42.2,19.5,197.0,4275.0,male,2009,4.3
114,115,Adelie,Biscoe,39.6,20.7,191.0,3900.0,female,2009,3.9
115,116,Adelie,Biscoe,42.7,18.3,196.0,4075.0,male,2009,4.1

In [113]:
adelie_dream

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
30,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007,3.2
31,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male,2007,3.9
32,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female,2007,3.3
33,34,Adelie,Dream,40.9,18.9,184.0,3900.0,male,2007,3.9
34,35,Adelie,Dream,36.4,17.0,195.0,3325.0,female,2007,3.3
35,36,Adelie,Dream,39.2,21.1,196.0,4150.0,male,2007,4.2
36,37,Adelie,Dream,38.8,20.0,190.0,3950.0,male,2007,4.0
37,38,Adelie,Dream,42.2,18.5,180.0,3550.0,female,2007,3.6
38,39,Adelie,Dream,37.6,19.3,181.0,3300.0,female,2007,3.3
39,40,Adelie,Dream,39.8,19.1,184.0,4650.0,male,2007,4.6
40,41,Adelie,Dream,36.5,18.0,182.0,3150.0,female,2007,3.2
41,42,Adelie,Dream,40.8,18.4,195.0,3900.0,male,2007,3.9
42,43,Adelie,Dream,36.0,18.5,186.0,3100.0,female,2007,3.1
43,44,Adelie,Dream,44.1,19.7,196.0,4400.0,male,2007,4.4
44,45,Adelie,Dream,37.0,16.9,185.0,3000.0,female,2007,3.0
45,46,Adelie,Dream,39.6,18.8,190.0,4600.0,male,2007,4.6
46,47,Adelie,Dream,41.1,19.0,182.0,3425.0,male,2007,3.4
47,48,Adelie,Dream,37.5,18.9,179.0,2975.0,male,2007,3.0
48,49,Adelie,Dream,36.0,17.9,190.0,3450.0,female,2007,3.4
49,50,Adelie,Dream,42.3,21.2,191.0,4150.0,male,2007,4.2
84,85,Adelie,Dream,37.3,17.8,191.0,3350.0,female,2008,3.4
85,86,Adelie,Dream,41.3,20.3,194.0,3550.0,male,2008,3.6
86,87,Adelie,Dream,36.3,19.5,190.0,3800.0,male,2008,3.8
87,88,Adelie,Dream,36.9,18.6,189.0,3500.0,female,2008,3.5
88,89,Adelie,Dream,38.3,19.2,189.0,3950.0,male,2008,4.0
89,90,Adelie,Dream,38.9,18.8,190.0,3600.0,female,2008,3.6
90,91,Adelie,Dream,35.7,18.0,202.0,3550.0,female,2008,3.6
91,92,Adelie,Dream,41.1,18.1,205.0,4300.0,male,2008,4.3
92,93,Adelie,Dream,34.0,17.1,185.0,3400.0,female,2008,3.4
93,94,Adelie,Dream,39.6,18.1,186.0,4450.0,male,2008,4.4
94,95,Adelie,Dream,36.2,17.3,187.0,3300.0,female,2008,3.3
95,96,Adelie,Dream,40.8,18.9,208.0,4300.0,male,2008,4.3
96,97,Adelie,Dream,38.1,18.6,190.0,3700.0,female,2008,3.7
97,98,Adelie,Dream,40.3,18.5,196.0,4350.0,male,2008,4.4
98,99,Adelie,Dream,33.1,16.1,178.0,2900.0,female,2008,2.9
99,100,Adelie,Dream,43.2,18.5,192.0,4100.0,male,2008,4.1
132,133,Adelie,Dream,36.8,18.5,193.0,3500.0,female,2009,3.5
133,134,Adelie,Dream,37.5,18.5,199.0,4475.0,male,2009,4.5
134,135,Adelie,Dream,38.1,17.6,187.0,3425.0,female,2009,3.4
135,136,Adelie,Dream,41.1,17.5,190.0,3900.0,male,2009,3.9
136,137,Adelie,Dream,35.6,17.5,191.0,3175.0,female,2009,3.2
137,138,Adelie,Dream,40.2,20.1,200.0,3975.0,male,2009,4.0
138,139,Adelie,Dream,37.0,16.5,185.0,3400.0,female,2009,3.4
139,140,Adelie,Dream,39.7,17.9,193.0,4250.0,male,2009,4.2
140,141,Adelie,Dream,40.2,17.1,193.0,3400.0,female,2009,3.4
141,142,Adelie,Dream,40.6,17.2,187.0,3475.0,male,2009,3.5
142,143,Adelie,Dream,32.1,15.5,188.0,3050.0,female,2009,3.0
143,144,Adelie,Dream,40.7,17.0,190.0,3725.0,male,2009,3.7
144,145,Adelie,Dream,37.3,16.8,192.0,3000.0,female,2009,3.0
145,146,Adelie,Dream,39.0,18.7,185.0,3650.0,male,2009,3.6
146,147,Adelie,Dream,39.2,18.6,190.0,4250.0,male,2009,4.2
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009,3.5
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009,3.4
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009,3.8
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009,3.7
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009,4.0

In [114]:
adelie_torg

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.10000,18.7,181.0,3750.0,male,2007,3.8
1,2,Adelie,Torgersen,39.50000,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.30000,18.0,195.0,3250.0,female,2007,3.2
3,4,Adelie,Torgersen,43.92193,NaN,NaN,NaN,male,2007,NaN
4,5,Adelie,Torgersen,36.70000,19.3,193.0,3450.0,female,2007,3.4
5,6,Adelie,Torgersen,39.30000,20.6,190.0,3650.0,male,2007,3.6
6,7,Adelie,Torgersen,38.90000,17.8,181.0,3625.0,female,2007,3.6
7,8,Adelie,Torgersen,39.20000,19.6,195.0,4675.0,male,2007,4.7
8,9,Adelie,Torgersen,34.10000,18.1,193.0,3475.0,male,2007,3.5
9,10,Adelie,Torgersen,42.00000,20.2,190.0,4250.0,male,2007,4.2
10,11,Adelie,Torgersen,37.80000,17.1,186.0,3300.0,male,2007,3.3
11,12,Adelie,Torgersen,37.80000,17.3,180.0,3700.0,male,2007,3.7
12,13,Adelie,Torgersen,41.10000,17.6,182.0,3200.0,female,2007,3.2
13,14,Adelie,Torgersen,38.60000,21.2,191.0,3800.0,male,2007,3.8
14,15,Adelie,Torgersen,34.60000,21.1,198.0,4400.0,male,2007,4.4
15,16,Adelie,Torgersen,36.60000,17.8,185.0,3700.0,female,2007,3.7
16,17,Adelie,Torgersen,38.70000,19.0,195.0,3450.0,female,2007,3.4
17,18,Adelie,Torgersen,42.50000,20.7,197.0,4500.0,male,2007,4.5
18,19,Adelie,Torgersen,34.40000,18.4,184.0,3325.0,female,2007,3.3
19,20,Adelie,Torgersen,46.00000,21.5,194.0,4200.0,male,2007,4.2
68,69,Adelie,Torgersen,35.90000,16.6,190.0,3050.0,female,2008,3.0
69,70,Adelie,Torgersen,41.80000,19.4,198.0,4450.0,male,2008,4.4
70,71,Adelie,Torgersen,33.50000,19.0,190.0,3600.0,female,2008,3.6
71,72,Adelie,Torgersen,39.70000,18.4,190.0,3900.0,male,2008,3.9
72,73,Adelie,Torgersen,39.60000,17.2,196.0,3550.0,female,2008,3.6
73,74,Adelie,Torgersen,45.80000,18.9,197.0,4150.0,male,2008,4.2
74,75,Adelie,Torgersen,35.50000,17.5,190.0,3700.0,female,2008,3.7
75,76,Adelie,Torgersen,42.80000,18.5,195.0,4250.0,male,2008,4.2
76,77,Adelie,Torgersen,40.90000,16.8,191.0,3700.0,female,2008,3.7
77,78,Adelie,Torgersen,37.20000,19.4,184.0,3900.0,male,2008,3.9
78,79,Adelie,Torgersen,36.20000,16.1,187.0,3550.0,female,2008,3.6
79,80,Adelie,Torgersen,42.10000,19.1,195.0,4000.0,male,2008,4.0
80,81,Adelie,Torgersen,34.60000,17.2,189.0,3200.0,female,2008,3.2
81,82,Adelie,Torgersen,42.90000,17.6,196.0,4700.0,male,2008,4.7
82,83,Adelie,Torgersen,36.70000,18.8,187.0,3800.0,female,2008,3.8
83,84,Adelie,Torgersen,35.10000,19.4,193.0,4200.0,male,2008,4.2
116,117,Adelie,Torgersen,38.60000,17.0,188.0,2900.0,female,2009,2.9
117,118,Adelie,Torgersen,37.30000,20.5,199.0,3775.0,male,2009,3.8
118,119,Adelie,Torgersen,35.70000,17.0,189.0,3350.0,female,2009,3.4
119,120,Adelie,Torgersen,41.10000,18.6,189.0,3325.0,male,2009,3.3
120,121,Adelie,Torgersen,36.20000,17.2,187.0,3150.0,female,2009,3.2
121,122,Adelie,Torgersen,37.70000,19.8,198.0,3500.0,male,2009,3.5
122,123,Adelie,Torgersen,40.20000,17.0,176.0,3450.0,female,2009,3.4
123,124,Adelie,Torgersen,41.40000,18.5,202.0,3875.0,male,2009,3.9
124,125,Adelie,Torgersen,35.20000,15.9,186.0,3050.0,female,2009,3.0
125,126,Adelie,Torgersen,40.60000,19.0,199.0,4000.0,male,2009,4.0
126,127,Adelie,Torgersen,38.80000,17.6,191.0,3275.0,female,2009,3.3
127,128,Adelie,Torgersen,41.50000,18.3,195.0,4300.0,male,2009,4.3
128,129,Adelie,Torgersen,39.00000,17.1,191.0,3050.0,female,2009,3.0
129,130,Adelie,Torgersen,44.10000,18.0,210.0,4000.0,male,2009,4.0
130,131,Adelie,Torgersen,38.50000,17.9,190.0,3325.0,female,2009,3.3
131,132,Adelie,Torgersen,43.10000,19.2,197.0,3500.0,male,2009,3.5

<h3>Adelie live in 3 Island</h3>

<h1>INSIGHT NO.3</h1>

# Chinstrap lives exclusively on Dream

In [115]:
chin_torg = birds[(birds['species'] =='Chinstrap') & (birds['island'] == 'Torgersen')]

In [116]:
chin_dream = birds[(birds['species'] =='Chinstrap') & (birds['island'] == 'Dream')]

In [117]:
chin_biscoe = birds[(birds['species'] =='Chinstrap') & (birds['island'] == 'Biscoe')]

In [118]:
chin_dream

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
276,277,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007,3.5
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007,3.9
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007,3.6
279,280,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007,3.5
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007,3.7
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

<h3>Chinstrap exclusively lived in Dream island</h3>

<h1>AVERAGE WEIGHT PER SPECIES</h1>

<h1>INSIGHT NO.4</h1>

<h2>GENTOO WEIGHT</h2>
<h2>There's no significant difference on gentoo from different island</h2>

In [119]:
gentoo_biscoe_w = np.round(gentoo_biscoe['weight'].mean(),1)

In [120]:
gentoo_biscoe_w

np.float64(5.1)

<h1>INSIGHT NO.5</h1>
<h2>ADELIE WEIGHT</h2>
<h2>There's no significant difference on adelie from different island</h2>

In [121]:
adelie_biscoe_w = np.round(adelie_biscoe['weight'].mean(),1)

In [122]:
adelie_dream_w = np.round(adelie_dream['weight'].mean(),1)

In [123]:
adelie_torg_w = np.round(adelie_torg['weight'].mean(),1)

In [124]:
adelie_biscoe_w

np.float64(3.7)

In [125]:
adelie_dream_w

np.float64(3.7)

In [126]:
adelie_torg_w

np.float64(3.7)

<h1>INSIGHT NO.6</h1>
<h2>CHINSTRAP WEIGHT</h2>
<h2>There's no significant difference on chisntrap weight from different island</h2>

In [127]:
chin_dream_w = np.round(chin_dream['weight'].mean(),1)

In [128]:
chin_biscoe_w = np.round(chin_biscoe['weight'].mean(),1)

In [129]:
chin_torg_w = np.round(chin_torg['weight'].mean(),1)

In [130]:
chin_dream_w

np.float64(3.7)

<h1>INSIGHT NO.7</h1>

<h1>The most Heavist Species is Gentoo that has 5.1 weight</h1>

<h1>Insight No.8</h1>

In [131]:
birds_agg = birds.groupby(['species','island']).size()

C:\Users\LAB4-StudentPC07\AppData\Local\Temp\ipykernel_8384\2668887436.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  birds_agg = birds.groupby(['species','island']).size()

birds_agg

In [132]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.10000,18.7,181.0,3750.0,male,2007,3.8
1,2,Adelie,Torgersen,39.50000,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.30000,18.0,195.0,3250.0,female,2007,3.2
3,4,Adelie,Torgersen,43.92193,NaN,NaN,NaN,male,2007,NaN
4,5,Adelie,Torgersen,36.70000,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.8,207.0,4000.0,male,2009,4.0
340,341,Chinstrap,Dream,43.50000,18.1,202.0,3400.0,female,2009,3.4
341,342,Chinstrap,Dream,49.60000,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.80000,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.20000,18.7,198.0,3775.0,female,2009,3.8

<h1>INSIGHT NO.8</h1>

<h3>What year has the highest recorded 'male' adelie and in what island</h3>

In [133]:
birds_agg1 = birds.groupby(['species','sex','island','year']).size()

C:\Users\LAB4-StudentPC07\AppData\Local\Temp\ipykernel_8384\416997102.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  birds_agg1 = birds.groupby(['species','sex','island','year']).size()

In [134]:
birds_agg1.unstack()

year                        2007  2008  2009
species   sex    island
Adelie    female Biscoe        5     9     8
                 Dream         9     8    10
                 Torgersen     8     8     8
          male   Biscoe        5     9     8
                 Dream        11     8    10
                 Torgersen    12     8     8
Chinstrap female Biscoe        0     0     0
                 Dream        13     9    12
                 Torgersen     0     0     0
          male   Biscoe        0     0     0
                 Dream        13     9    12
                 Torgersen     0     0     0
Gentoo    female Biscoe       16    22    20
                 Dream         0     0     0
                 Torgersen     0     0     0
          male   Biscoe       18    24    24
                 Dream         0     0     0
                 Torgersen     0     0     0

<h2>The  year that has the highest record of male adelie are both 2007 and  2009</h2>

In [135]:
birds_agg2 = np.round(birds.groupby(['species','sex']) ['weight'].mean(),1)

C:\Users\LAB4-StudentPC07\AppData\Local\Temp\ipykernel_8384\253795728.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  birds_agg2 = np.round(birds.groupby(['species','sex']) ['weight'].mean(),1)

In [136]:
birds_agg2.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.4

<h1>INSIGHT NO. 9</h1>

<h3>Heaviest Sex for Adelie is Male</h3>

<h1>INSIGHT NO. 10 </h1>

<h3>Heaviest sex for Gentoo is Male</h3>

<h1>INSIGHT NO. 11</h1>

<h3>Heaviest sex for Chinstrap is Male</h3>

In [137]:
birds_agg3 = birds.groupby(['species','sex','year']).size()

C:\Users\LAB4-StudentPC07\AppData\Local\Temp\ipykernel_8384\2003299987.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  birds_agg3 = birds.groupby(['species','sex','year']).size()

In [138]:
birds_agg3.unstack()

year              2007  2008  2009
species   sex
Adelie    female    22    25    26
          male      28    25    26
Chinstrap female    13     9    12
          male      13     9    12
Gentoo    female    16    22    20
          male      18    24    24

<h1>INSIGHT NO.12</h1>

<h2>Does the Flipper length affect the length of the bill length?</h2>

In [139]:
birds_corr1 = birds['flipper_length_mm'].corr(birds['bill_length_mm'])

In [140]:
birds_corr1

np.float64(0.6561813407464278)

<h2>There is a correlation between the flipper length and the bill length of penguins</h2>

<h1>INSIGHT NO.13</h1>

<h2>Does flipper length affect the body mass?</h2>

In [141]:
birds_corr2 = birds['flipper_length_mm'].corr(birds['body_mass_g'])

In [142]:
birds_corr2

np.float64(0.8712017673060113)

<h2>There's a correlation between the Flipper length and the body mass</h2>

<h1>INSIGHT NO.14</h1>

<h2>Does the bill depth affect the bill length?</h2>

In [143]:
birds_corr3 = birds['bill_length_mm'].corr(birds['bill_depth_mm'])

In [144]:
birds_corr3

np.float64(-0.23505287035553257)

<h2>There's no correlation between the bill depth and bill length</h2>

<h1>INSIGHT NO.15</h1>

<h2>Does the the Bill depth affect the size of the flipper length?</h2>

In [145]:
birds_corr4 = birds['bill_depth_mm'].corr(birds['flipper_length_mm'])

In [146]:
birds_corr4

np.float64(-0.5838512164654122)

<h2>There's no correlation between Bill depth and Flipper Length</h2>

In [147]:
pip install scipy

Requirement already satisfied: scipy in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc07\appdata\roaming\python\python313\site-packages (from scipy) (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC07\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

<h1>ONE WAY ANOVA USING SCIPY</h1>

<h1></h1>

In [149]:
from scipy.stats import f_oneway

<h3> Filter columns and its data</h3>

In [158]:
birds[birds['sex'] == 'male']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
0,1,Adelie,Torgersen,39.10000,18.7,181.0,3750.0,male,2007,3.8
3,4,Adelie,Torgersen,43.92193,NaN,NaN,NaN,male,2007,NaN
5,6,Adelie,Torgersen,39.30000,20.6,190.0,3650.0,male,2007,3.6
7,8,Adelie,Torgersen,39.20000,19.6,195.0,4675.0,male,2007,4.7
8,9,Adelie,Torgersen,34.10000,18.1,193.0,3475.0,male,2007,3.5
...,...,...,...,...,...,...,...,...,...,...
334,335,Chinstrap,Dream,50.20000,18.8,202.0,3800.0,male,2009,3.8
336,337,Chinstrap,Dream,51.90000,19.5,206.0,3950.0,male,2009,4.0
339,340,Chinstrap,Dream,55.80000,19.8,207.0,4000.0,male,2009,4.0
341,342,Chinstrap,Dream,49.60000,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.80000,19.0,210.0,4100.0,male,2009,4.1

In [159]:
birds[birds['sex'] == 'male']['body_mass_g']

0      3750.0
3         NaN
5      3650.0
7      4675.0
8      3475.0
        ...
334    3800.0
336    3950.0
339    4000.0
341    3775.0
342    4100.0
Name: body_mass_g, Length: 179, dtype: float64

In [160]:
birds[birds['sex'] == 'female']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,weight
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
6,7,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007,3.6
12,13,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007,3.2
...,...,...,...,...,...,...,...,...,...,...
335,336,Chinstrap,Dream,45.6,19.4,194.0,3525.0,female,2009,3.5
337,338,Chinstrap,Dream,46.8,16.5,189.0,3650.0,female,2009,3.6
338,339,Chinstrap,Dream,45.7,17.0,195.0,3650.0,female,2009,3.6
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

In [161]:
birds[birds['sex'] == 'female']['body_mass_g']

1      3800.0
2      3250.0
4      3450.0
6      3625.0
12     3200.0
        ...
335    3525.0
337    3650.0
338    3650.0
340    3400.0
343    3775.0
Name: body_mass_g, Length: 165, dtype: float64

In [164]:
f_stats, p_value = f_oneway(birds[birds['sex'] == 'male']['body_mass_g'], 
                            birds[birds['sex'] == 'female']['body_mass_g'])

print(p_value)

nan

<h1>INSIGHT NO.16</h1>

<h3></h3>